body{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}


.container{
    margin: 20px;
    background-color: #977eed;
    box-sizing: border-box;
    width: 500px;
    height: 500px;
    display: block;
    text-align: center;
    padding-top: 200px;
}

.feedback {
    margin-top: -50px;
}

button{
    background-color: white;
    border: solid 1px black;
    padding: 6px 15px;
    border-radius: 30px;
    font-size: 15px;
}

button#yes:hover{
   background-color: #90ed8f;
}

button.no {
    margin-left: 15px;
}

.foto>img{
    width: 150px;
    height: 150px;
}